
@model IEnumerable<Product>

    <section>
        <header>
        <h3>Produktoversikt</h3>
        </header>



        <section class="card-container">
            @{
                foreach (var product in Model)
                {
                    <div class="product-content">
                <article>
                    <h4>@product.Title</h4>
                     <img class="img-product"src="~/images/@product.ImageSrc"/>
                    <p>@product.Desc</p>
                    <p>Pris i NOK: @product.Price</p>
                    @{
                        if (ViewContext.HttpContext.Request.Query["admin"] == "true"){
                            <a asp-controller="Admin" asp-action="EditProduct" asp-route-id="@product.ID">Endre</a>
                            <a asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@product.ID">Slett</a>
                        } else{
                             <a asp-controller="Customer" asp-action="CommentProduct" asp-route-id="@product.ID">Kommenter produkt</a>
                        }
                    }
                     
                </article>
                </div>
    
        
                }
            }
        </section>
    </section>
